/* =========================================================
	BASE
	========================================================= */

/* SETUP */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;

	font-family: var(--main-font-family);
	font-size: var(--base-font-size);
	background-color: #fff;
}

img {
	max-width: 100%;
}





/* =========================================================
	MODULE
	========================================================= */

/* =========================================================
	LAYOUT
	========================================================= */
